<IfModule mod_rewrite.c>
    
    RewriteEngine On
    
    RewriteBase /vc-dev/static-site-framework/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /vc-dev/static-site-framework/index.php [L]

</IfModule>